// @import 'bulma';

.container {
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  height: 500px;
  color: white;
  position: relative;
  margin: auto;




.duel {
  color: #E9E2CB;
  position: absolute;
  right: 35%;
  top: 375px;
  border: 1px solid white;
  padding: 5px;
  font-size: 16px;
}

.duel:hover {
  color: yellow;
}



.sith {

  img {
    width: 62%;
    position: absolute;
    right: 5%;
    top: 75px;
  }
    h3 {

      position: absolute;
      // width: 20%;
      margin: 5px;
      right: 10%;
      top: 295px;
  }
    input {
    width: 72px;
    position: absolute;
    right: 15%;
    top: 40px;
    background-color: black;
    color: white;
  }

}
.jedi {
    img {
      width: 30%;
      transform: rotateY(180deg);
      position: absolute;
      left: 20%;
      top:75px;

}
  h3 {
    position: absolute;
    left: 15%;
    top: 280px;
  }

  input {
    width: 75px;
    font-size: 18px;
    position: absolute;
    left: 20%;
    top: 340px;
    background-color: black;
    color: white;
  }
}
}

html{
  background: url('../images/deathstar.png') no-repeat fixed;
  background-size: 700px;
}

@media screen and (min-width: 500px) {

  .container {
    max-width: 700px;


    .jedi {
        img {
          width: 30%;
          }
          h3 {
            left: 25%;
            top: 440px;
          }
          input {
            left: 25%;
            top: 540px;
            }
  }

  .sith {

    img {
      width: 62%;
      }
      h3 {

        position: absolute;
        width: 20%;
        margin: 5px;
        right: 10%;
        top: 455px;
    }
      input {
      width: 72px;
      position: absolute;
      right: 15%;
      top: 40px;
      // background-color: black;
      // color: white;
    }

  }
}
html{
  background-size: 900px;
}
}
@media screen and (min-width: 700px) {

  .container {
    max-width: 1100px;

    .jedi {
        img {
          width: 25%;

          }
          h3 {
            left: 25%;
            top: 480px;
          }

          input {
            left: 25%;
            top: 540px;
          }
  }
  }
  html{
    background-size: 1100px;
  }
}
