// @import 'bulma';

.container {
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  height: 500px;
  color: white;
  position: relative;
  margin: auto;
  font-size: 12px;




.duel {
  color: #E9E2CB;
  position: absolute;
  right: 35%;
  top: 375px;
  border: 1px solid white;
  padding: 5px;
  font-size: 16px;
}

.duel:hover {
  color: yellow;
}



.sith {

  img {
    width: 62%;
    position: absolute;
    right: 5%;
    top: 65px;
  }
    h3 {

      position: absolute;
      // width: 20%;
      margin: 5px;
      right: 10%;
      top: 295px;
  }
    input {
    width: 72px;
    position: absolute;
    right: 15%;
    top: 40px;
    background-color: black;
    color: white;
  }

}
.jedi {
    img {
      width: 30%;
      transform: rotateY(180deg);
      position: absolute;
      left: 20%;
      top:65px;

}
  h3 {
    position: absolute;
    left: 15%;
    top: 280px;
  }

  input {
    width: 75px;
    font-size: 14px;
    position: absolute;
    left: 20%;
    top: 340px;
    background-color: black;
    color: white;
  }
}
}

html{
  background: url('../images/deathstar.png') no-repeat fixed;
  background-size: 800px
}

@media screen and (min-width: 500px) {

  .container {
    max-width: 700px;
    font-size: 16px;

    .duel {
      right: 35%;
      top: 25px;

      padding: 5px;
      font-size: 16px;
    }

    .jedi {
        img {
          width: 30%;
          top:75px;
          }
          h3 {
            left: 25%;
            top: 430px;
          }
          input {
            left: 25%;
            top: 480px;
            font-size: 18px;
            }
  }

  .sith {

    img {
      width: 62%;
      }
      h3 {

        width: 20%;
        right: 10%;
        top: 445px;
    }
      input {
      width: 72px;
      right: 15%;
      top: 30px;

    }

  }
}
html{
  background-size: 900px;
}
}
@media screen and (min-width: 700px) {

  .container {
    max-width: 1100px;
    height: 700px;

    .duel {
      right: 40%;
      top: 25px;
    }


    .sith {

      img {
        width: 50%;
        }
        h3 {

          width: 20%;
          right: 10%;
          top: 505px;
      }
        input {
        width: 72px;
        right: 45%;
        top: 40px;

      }

    }

    .jedi {
        img {
          width: 23%;
          }
          h3 {
            left: 20%;
            top: 480px;
          }
          input {
            left: 25%;
            top: 540px;
          }
  }
  }
  html{
    background-size: 1100px;
  }
}
