// @import 'bulma';

.container {
  max-width: 400px;
  height: 700px;
  color: white;
  position: relative;
  margin: auto;




.duel {
  color: blue;
  position: absolute;
  right: 35%;
  top: 375px;
  border: 1px solid white;
  padding: 5px;
  font-size: 16px;
}

.duel:hover {
  color: yellow;
}



.sith {

  img {
    width: 62%;
    position: absolute;
    right: 5%;
    top: 10%;
  }
    h3 {
      display: inline inline-block;;
      position: absolute;
      width: 20%;
      right: 10%;
      top: 40%;
  }
    input {
    width: 75px;
    position: absolute;
    right: 15%;
    top: 95%;
    background-color: black;
    color: white;
  }

}
.jedi {
    img {
      width: 30%;
      transform: rotateY(180deg);
      position: absolute;
      left: 20%;
      top:11%;

}
  h3 {
    position: absolute;
    left: 15%;
    top: 280px;
  }

  input {
    width: 75px;
    position: absolute;
    left: 20%;
    top: 48%;
    background-color: black;
    color: white;
  }
}
}

html{
  background: url('../images/deathstar.png') no-repeat fixed;
  background-size: 700px;
}

// @media screen and (width: 500px){
//     .container {
//       // width: 400px;
//     }
//
//     .jedi {
//         img {
//           width: 50px;
//           // transform: rotateY(180deg);
//           // position: absolute;
//           // left: 22%;
//           // top:15%;
//
//     }
//       h3 {
//         position: absolute;
//         left: 22%;
//         top: 50%;
//       }
//
//       input {
//         position: absolute;
//         left: 20%;
//         top: 60%;
//         background-color: black;
//         color: white;
//       }
//     }
  // }
